{{ define "main" }}
    <header>
        <div class="content">
            <h1>{{ .LinkTitle }}</h1>
            <div class="description">{{ .Title }}</div>
            <a class="header-link"
               target="_blank"
               href="https://gitlab.com/Ingenieria_ecolls/gqlgen/blob/master/docs/content/{{.File.Path }}">
                [edit]
            </a>
        </div>
    </header>

    <main>
        <div class="content">
						{{partial "version-banner"}}
            {{ .Content }}
        </div>
    </main>
{{ end }}
